.main-content
  min-height: 640px
  max-height: calc(100vh - 80px)
  background-color: white
  border-radius: 6px
  header
    padding: 14px
    border-bottom: 1px solid lightgrey
    .header-action
      font-size: 16px
      &:hover
        i.fa:nth-child(1)::before
          content: '\f057'
      i
        margin-right: 5px
      i.fa:nth-child(1)
        color: rgb(245, 126, 125)
      i.fa:nth-child(2)
        color: rgb(255, 200, 129)
      i.fa:nth-child(3)
        color: rgb(130, 207, 133)
  #login-page
    .logo-container img
      width: 130px
    h3
      text-transform: uppercase
    p
      max-width: 300px
      margin: 0 auto
