.lobby
  height: calc(100% - 45px)
  .chat-list
    width: 25%
    background-color: #505d71
    color: white
    .list-content
      overflow-y: scroll
    .user-self
      height: 50px
      padding: 10px
      background-color: #445166
      .user-avatar
        @include eqsize(30px)
        font-size: 30px
        line-height: 30px
        margin-right: 10px
  .chat-content
    width: 75%
    height: 100%
    .welcome
      padding: 50px 20px
